<script type="text/javascript">

    // Sets max value on quantity selector to variety's availible stock
    function handleVarietyChange(itemId) {
        var stockAvailible = parseInt($('#id_product_variety').find(':selected').data('stockavail'));
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        $(`#id_qty_${itemId}`).attr("max", stockAvailible);
        $('#id_qty_avail').text(stockAvailible);
        if(stockAvailible == 0) {
            $(`#id_qty_${itemId}`).prop('disabled', true);
            $('#id_submit_btn').prop('disabled', true);
        } else {
            $(`#id_qty_${itemId}`).prop('disabled', false);
            $('#id_submit_btn').prop('disabled', false);
        }
        if(currentValue > stockAvailible) {
            $(`#id_qty_${itemId}`).val(max(stockAvailible, 1));
        }
    }

    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var stockAvailible = parseInt($(`#id_qty_${itemId}`).attr("max"));
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue >= stockAvailible;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    $('#id_product_variety').change(function() {
        var itemId = $(this).data('item_id');
        handleVarietyChange(itemId);
        handleEnableDisable(itemId);
    }).change();

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });
</script>