<div class="col-lg-8 collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <!-- Seperator in mobile -->
        <li class="nav-item d-block d-lg-none">
            <p>___________________</p>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="honey-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Honey
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="honey-link">
                <a href="{% url 'products' %}?category=honey_jars" class="dropdown-item">Jarred Honey</a>
                <a href="{% url 'products' %}?category=honey_bulk" class="dropdown-item">Bulk Honey</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="hives-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hives
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hives-link">
                <a href="{% url 'products' %}?category=hives_frames" class="dropdown-item">Frames</a>
                <a href="{% url 'products' %}?category=hives_parts" class="dropdown-item">Parts</a>
                <a href="{% url 'products' %}?category=hives_nucs" class="dropdown-item">Nuc Boxes</a>
                <a href="{% url 'products' %}?category=hives_feeders" class="dropdown-item">Feeders</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bees-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bees
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bees-link">
                <a href="{% url 'products' %}?category=bees_queens" class="dropdown-item">Queens</a>
                <a href="{% url 'products' %}?category=bees_packages" class="dropdown-item">Packages</a>
                <a href="{% url 'products' %}?category=bees_nucs" class="dropdown-item">Nucs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="equipment-link">
                <a href="{% url 'products' %}?category=equip_suits" class="dropdown-item">Suits</a>
                <a href="{% url 'products' %}?category=equip_smokers" class="dropdown-item">Smokers</a>
                <a href="{% url 'products' %}?category=equip_tools" class="dropdown-item">Hive Tools</a>
                <a href="{% url 'products' %}?category=equip_jars" class="dropdown-item">Empty Jars</a>
                <a href="{% url 'products' %}?category=equip_books" class="dropdown-item">books</a>
            </div>
        </li>
        <!-- Seperator in mobile -->
        <li class="nav-item d-block d-lg-none">
            <p>___________________</p>
        </li>
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}" id="contact-link">
                Contact
            </a>
        </li>
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="swarm-link">
                Report a Swarm
            </a>
        </li>
    </ul>
</div>