{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Contact Us</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>This form is for product and other general enquiries.</p>
                <p>To report a swarm, please use the <a href="{% url 'swarms' %}">Swarm Report form</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="text-muted">Contact:</p>
                <form class="mt-3" action="{% url 'contact' %}" method="POST" id="contact-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-black rounded-0 text-uppercase">Send Message</button>
                </form>
            </div>
        </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
{% endblock %}